* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100px;
}

:root {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  width: 100%;
}
body,
* {
  font-family: "Poppins", sans-serif;
}
#app {
  width: 375px;
  margin: auto;
  margin-top: 100px;
}
#menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99999;
}
header {
  background-color: #062a73;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;
}
header ul {
  display: none; 
}
ul.active {
  display: block;
  position: absolute;
  width: 100%;
  top: 100px;
  right: 0;
  list-style: none;  
  background: #062a73;
  height: 100vh;
}
ul.active li{
  margin: 1rem 3rem;
  padding: 1rem 0;
  border-bottom: 2px solid #8c7b8c;
  cursor: pointer;
}


ul a{
  color: #ffffff;
  text-decoration: none;
}

header .logo img {
  width: 20rem;
}
header .menu-mobile img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.bannerImg {
  background-image: url(./assets/bannerImage.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 30rem;
  padding-bottom: 30rem;
}
.sobre {
  text-align: justify;
  padding: 3rem 0;
}
.sobre h2,
.areas h2,
.equipe h2,
.contato h2 {
  text-align: center;
  padding-bottom: 4rem;
  font-weight: 500;
  
}
#topo,
.sobre,
.areas,
.banner2,
.equipe, 
.contato,
footer{
  

  
}




.sobre p {
  font-size: 1.4rem;
  color: #8c7b8c;
}
.areas {
  padding: 3rem 0;
  background-color: #e8e8e8;
  margin-bottom: 3rem;
}
.areas .wrapper {
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 16px;
}
.areas .wrapper img {
  width: 7rem;
  height: 7rem;
}
.areas .wrapper h3 {
  font-weight: 600;
  margin-bottom: 10px;
}
.areas .wrapper p {
  font-size: 1.4rem;
  color: #8c7b8c;
}
.banner2 {
  position: relative;
  height: 30rem;
  
}
.bannerImg2 {
  background-repeat: no-repeat;
  position: absolute;
  background-attachment: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  display: block;
  background-image: url("assets/bannerImage2.jpg");
  background-size: auto;
  height: 50rem;
  
  -webkit-filter: blur(4px);
  filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
}
.conteudo {
  left: 0;
  right: 0;
  z-index: 9999;
  position: absolute;

  color: #fff;
}
.conteudo h3 {
  font-size: 20px;
  font-weight: 400;
  color: #d8a641;
  margin-top: 16rem;
  margin-left: 20px;
  text-align: justify;
}
.conteudo h2 {
  color: #ccc;
  font-size: 2.5rem;
  
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2.5rem;
  font-weight: 600;
}
.equipe {
  margin-top: 20rem;
}
.equipe img {
  width: 100%;
}
.equipe p {
  font-weight: 600;
  margin: 2rem 0;
}
.equipe .cargo {
  display: block;
  font-weight: 200;
  margin: 20px 0;
  font-size: 1rem;
}
.equipe .descricao {
  font-size: 1rem;
}

.equipe .social img {
  width: 30px;
  margin: 20px 0;
}
.contato {
  margin-top: 2rem;
}

.form .detalhes {
  width: 100%;
}
.icon {
  width: 30px;
}
.wrapper-icon {
  display: flex;
  gap: 16px;
}

.detalhes .info {
  margin-left: 15px;
  padding-left: 20px;
  border-left: 1px solid #bfa8bf;
  margin-top: 15px;
  margin-bottom: 15px;
}
.detalhes .info-linha {
  padding: 2px;
  display: flex;
}
.detalhes .info-linha img {
  margin-right: 12px;
  width: 20px;
  height: 20px;
}
.telefone {
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-left: 1px solid #bfa8bf;
}
.telefone p {
  padding: 2px;
  margin-left: 12px;
}
.form form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
form input,
textarea,
button {
  margin-bottom: 12px;
  padding: 12px;
}
form input,
textarea {
  border: none;
  outline: 1px solid #bfa8bf;
}
form button {
  font-size: 16px;
  font-weight: 700;
  color: #8f8f8f;
  background: #fff;
  border: 1px solid #bfa8bf;
}
form button:hover {
  background: #bfa8bf;
  border: 1px solid #bfa8bf;

  color: #fff;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background: #000;
  color: #ccc;
  text-align: center;
}
footer span {
  color: #bfa8bf;
}
.hiden{
  display: none;
}

@media (min-width: 700px) {
  #app {
    width: 100%;
  }
  .menu-mobile {
    display: none;
  }
  .bannerImg {
    height: 500px;
  }
  .sobre,
  .areas,
  .equipe,
  .contato {
    padding: 124px 164px;
  }
  header nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  header ul li {
    margin-left: 14px;
    font-size: 18px;
  }
  header ul li a {
    color: #fff;
    text-decoration: none;
  }
  .areas .wrapper-areas {
    display: flex;
  }
  .conteudo h3,
  .conteudo h2 {
    margin-left: 170px;
  }
  .conteudo h2 {
    font-size: clamp(1em, 3em + 1vw, 3em);
  }
  .equipe {
    margin-top: 10rem;
  }
  .container-equipe {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .container-equipe p {
    font-size: 20px;
    font-weight: 500;
  }
  .container-equipe .cargo {
    font-size: 12px;
    font-weight: 300;
    display: block;
    margin: 12px 0;
  }
  .container-equipe .descricao {
    font-size: 16px;
    font-weight: 400;
  }
  .wrapper-eqp {
    padding: 30px;
    background: #fff;
  }

  .equipe {
    background-color: #e8e8e8a4;
  }
  .equipe h2 {
    margin-bottom: 50px;
  }
  .equipe img {
    width: 400px;
  }
  
  .contato{

padding-top: 0;
  }
  .contato h2{
    margin-bottom: 5rem;
  }
  .form {
    display: flex;
  }
}
